SECRET_KEY=SECRET_KEY
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
ADMIN_PATH=admin
GUNICORN_BIND=0.0.0.0:8000
GUNICORN_WORKERS=3
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=120
GUNICORN_GRACEFUL_TIMEOUT=30
GUNICORN_KEEPALIVE=5
GUNICORN_LOG_LEVEL=info

XUI_DB_ADDRESS="/etc/x-ui/x-ui.db"
XUI_SUBSERVICE_DOAMIN="yourdomain.com"
XUI_SUBSERVICE_PORT=2096
XUI_SUBSERVICE_PROTOCOL=http
USAGE_CRON_SCHEDULE="0 * * * *"
USAGE_CHART_LIMIT=240
